.jumbotron {
  padding-top: 3rem;
  background-color: #ddf8fb;
}

#projek {
  background-color: #ddf8fb;
}

#kontak {
  background-color: #ddf8fb;
}

footer {
  padding: 0.25rem 0;
  background-color: #16bbd8;
}
